* {
  box-sizing: border-box;
margin: 0;
font-family: 'Raleway', sans-serif;
}
nav {
  width: 100%;
height: 40px;
background-color: #ffffff;
top: 0;
position: fixed;
border-bottom: 2px solid #888989
}
main {
  margin-top: 40px;
}
section {
  width: 100%;
font-size: 16px
}
img {
  width:100%;
margin-top: 5px;
margin-bottom: 5px
}
h1, h2, h3, h4, h5 {
  font-family: 'Open Sans', sans-serif;
}
#pitted {
  background: #E0F7FC;
}
#surflist {
  background: #5EE1FF;
}
#about-me {
  padding-left: 10px;
padding-right: 10px;
margin-top: 10px;
}
#github-icon {
  width: 50px;
height: 50px;
}
#linkedin-icon {
  width: 50px;
height: 50px;
}
#angellist-icon {
  width: 50px;
height: 50px;
}
#hero {
  background-image: url('../tinified/Wave.png');
height: 600px;
background-repeat: no-repeat;
background-position: right top;
background-attachment: scroll;
background-size: cover;
padding-left: 10px;
margin-right: 10px;
display: flex;
justify-content: flex-end;
align-items: flex-end;
}
#hero > h1 {
  font-weight: bold;
font-size: 47px;
color: #f5f5f5;
}
#hero-title-container {
  width: 300px;
height: 600px;
}
#hero-title-container > h1 {
  font-weight: 800;
font-size: 47px;
color: #ffffff;
line-height: 85px;
}
nav > a {
  color: #888989;
font-size: 19px;
text-decoration: none;
font-weight: 400;
display: inline-block;
margin-top: 7px;
margin-left: 6px;
}
#about-me > img {
width: 100%;
max-width: 450px;
}